/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Antic+Slab|Droid+Sans);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url("../image/bcg.png");
  font-family: 'Antic Slab', serif; }

.main-block {
  width: 1024px;
  margin: 0 auto;
  background: #fefefe;
  height: 684px; }

.clearfix {
  clear: both; }

.hide {
  display: none; }

.container {
  padding: 0 40px;
  margin-right: auto;
  margin-left: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

header {
  height: 120px; }

.top-nav {
  padding: 20px 0 0 15px; }

.header-nav .chat-icon {
  background: url("../image/live-chat.png") no-repeat;
  width: 72px;
  height: 36px; }
  .header-nav .chat-icon p {
    padding-top: 5px;
    text-align: center; }
  .header-nav .chat-icon a {
    text-transform: uppercase;
    color: #fafbfc;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap; }

.header-nav > ul {
  margin: 5px 10px;
  display: inline-block;
  font-family: "Pontano Sans", sans-serif !important; }
  .header-nav > ul > li {
    float: left; }
    .header-nav > ul > li:last-child a {
      padding: 0 !important; }
  .header-nav > ul a {
    color: #a7a7a7;
    font-size: 11px;
    padding: 0 18px;
    text-decoration: none; }
    .header-nav > ul a .arrow {
      position: relative;
      top: -1px;
      left: 3px; }

.header-nav-block .header-menu {
  margin-top: 25px;
  font-size: 16px; }
  .header-nav-block .header-menu > li {
    display: inline-block;
    text-align: center;
    padding: 0 30px; }
  .header-nav-block .header-menu a {
    color: #a7a7a7;
    text-decoration: none;
    text-transform: uppercase; }
  .header-nav-block .header-menu .search {
    position: relative;
    top: 10px; }

nav {
  height: 105px;
  background: #f4f4f4; }

.product-nav li {
  display: inline-block; }

.product-nav > li:first-child a, .product-nav > li:last-child a {
  padding: 0 !important; }

.product-nav > li > a {
  display: inline;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 104px;
  font-size: 14px;
  color: #333;
  padding: 0 40px;
  text-decoration: none; }
  .product-nav > li > a:hover {
    text-decoration: none; }

article {
  width: 300px;
  margin: 5px 10px 0 40px; }
  article .article-wrapper {
    color: #999;
    min-height: 400px;
    position: relative;
    background: #f4f4f4;
    padding: 25px 20px 0;
    z-index: 500; }
    article .article-wrapper > p {
      padding-top: 20px;
      font-size: 14px;
      font-family: 'Pontano Sans', sans-serif; }

.sidebar-header {
  background: #aecacc;
  position: relative;
  height: 40px;
  width: 220px;
  margin-left: -36px;
  padding-left: 30px; }
  .sidebar-header:before {
    left: 0;
    top: -11px;
    content: '';
    width: 16px;
    height: 11px;
    position: absolute;
    background: url("../image/header-bcg-el.png") no-repeat; }
  .sidebar-header p {
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 30px;
    color: #fff; }

aside {
  margin-top: 5px;
  width: 655px;
  position: relative; }
  aside .aside-content {
    height: 405px;
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 500;
    position: relative; }

.main-shadow, .article-shadow {
  position: relative;
  z-index: 0;
  top: -20px; }
