@import 'reset';
$antic: unquote("Antic+Slab");
$pontanto: unquote("Droid+Sans");
@import url(https://fonts.googleapis.com/css?family=#{$antic}|#{$pontanto});

body {
	background: url('../image/bcg.png');
	font-family: 'Antic Slab', serif;
}

.main-block {
	width: 1024px;
	margin: 0 auto;
	background: #fefefe;
	height: 684px;
}

.clearfix {
	clear: both;
}

.hide {
	display: none;
}

.container {
	padding: 0 40px;
    margin-right: auto;
    margin-left: auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

header {
	height: 120px;
}

.top-nav {
	padding: 20px 0 0 15px;
}

.header-nav  {
	.chat-icon {
		background: url('../image/live-chat.png') no-repeat;
		width: 72px;
		height: 36px;
		p{
			padding-top: 5px;
			text-align: center;
		}
		a {
			text-transform: uppercase;
			color: #fafbfc;
			font-size: 11px;
			text-decoration: none;
			white-space: nowrap;
		}
	}
	& > ul {
		margin: 5px 10px;
		display: inline-block;
		font-family: 'Pontano Sans', sans-serif!important;
		> li {
			float: left;

			&:last-child a {
				padding: 0!important;
			}
		}
		a {
			color: #a7a7a7;
			font-size: 11px;
			padding: 0 18px;
			text-decoration: none;
			
			& .arrow {
				position: relative;
				top: -1px;
				left: 3px;
			}
		}
	}
}

.header-nav-block {
	.header-menu {
		margin-top: 25px;
		font-size: 16px;
		> li {
			display: inline-block;
			text-align: center;
			padding: 0 30px;
		}
		a {
			color: #a7a7a7;
			text-decoration: none;
			text-transform: uppercase;

		}
		.search {
			position: relative;
			top: 10px;
		}
	}
}

nav {
	height: 105px;
	background: #f4f4f4;
}

.product-nav {
	li {
		display: inline-block;	
	}

	> li {
		&:first-child a, &:last-child a {
			padding: 0!important;
		}
		> a {
			display: inline;
			text-transform: uppercase;
			font-weight: 400;
			line-height: 104px;
			font-size: 14px;
			color: #333;
			padding: 0 40px;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

article {
	width: 300px;
	margin: 5px 10px 0 40px;
	& .article-wrapper {
		color: #999;
		min-height: 400px;
		position: relative;
		background: #f4f4f4;
		padding: 25px 20px 0;
		z-index: 500;
		& > p {
			padding-top: 20px;
			font-size: 14px;
			font-family: 'Pontano Sans', sans-serif;
		}
	}
}

.sidebar-header {
	background: #aecacc;
	position: relative;
	height: 40px;
	width: 220px;
	margin-left: -36px;
	padding-left: 30px;
	&:before {
		left: 0;
		top: -11px;
		content: '';
		width: 16px;
		height: 11px;
		position: absolute;
		background: url('../image/header-bcg-el.png') no-repeat;
	}
	p {
		text-transform: uppercase;
		padding: 5px 0;
		font-size: 30px;
		color: #fff;
	}
}

aside {
	margin-top: 5px;
	width: 655px;
	position: relative;
	& .aside-content {
		height: 405px;
		padding-bottom: 20px;
		background-color: #fff;
		z-index: 500;
		position: relative;
	}
}

.main-shadow, .article-shadow {
	position: relative;
	z-index: 0;
	top: -20px;
}
